@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Young+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    font-family: 'Inter';
    min-height: 100vh;
}

span {
    font-weight: bold;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#side-bar {
    position: relative;
    /* background-color: #A18AFF; */
    background-color: #719191;
    width: 35vmin;
    padding-top: 2.5vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
    display: flex;
    flex-direction: column;
    gap: 5vmin;
}

#user-info {
    display: flex;
    align-items: center;
    gap: 1vmin;
    font-size: 1.4rem;
}

#user-info img {
    height: 4vmin;
}

#action-container {
    background-color: #EAF1F1;
    border-radius: 8px;
    padding: 2vmin 1.5vmin;
    display: flex;
    flex-direction: column;
    gap: 0.1vmin;
}

.action-button {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5vmin 0.5vmin;
    border-radius: 8px;
    transition: background-color 250ms;

    &:hover {
        background-color: #cbcdcd;
    }
}

#sidebar-projects-container {
    background-color: #EAF1F1;
    padding: 2vmin;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1vmin;
}

#sidebar-projects-container h2 {
    font-size: 1.3rem;
}

#sidebar-projects {
    display: flex;
    flex-direction: column;
    gap: 0.3vmin;
}

.project {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 0.5vmin 0.5vmin;
    border-radius: 8px;
    transition: background-color 250ms;

    &:hover {
        background-color: #cbcdcd;
    }
}

.delete-proj-button {
    background-color: red;
    color: white;
    font-size: 1.2rem;
    padding: 0.2vmin 1vmin;
    border-radius: 5px;
    cursor: pointer;
}

#main-container {
    background-color: #FAFAFA;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10vmin 7vmin 0vmin 7vmin;
}


#main-container h1 {
    font-size: clamp(1.7rem, 4vw, 3rem)
}

.task-section {
    /* background-color: lightcoral; */
    margin-top: 5vmin;
    margin-bottom: 5vmin;

}

.task-section p {
    font-size: 1.35rem;
    padding-bottom: 1.8vmin;
    border-bottom: 1px solid black;
    font-weight: bold
}

.task {
    /* background-color: lightseagreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.8vmin;
    padding-bottom: 1.8vmin;
    border-bottom: 1px solid black;
}

.task-details {
    padding-left: 0.5vmin;
}

.task-name {
    display: flex;
    gap: 1vmin;
    font-weight: bold
}

.task-name input{
    cursor: pointer;
}

.date-time {
    padding-left: 2.6vmin;
}

#task-buttons-div{
    display: flex;
    gap: 0.8vmin;
}

#task-buttons-div button{
    font-size: clamp(1rem, 3vw, 1.4rem);
    width: 3vmin;
    border-radius: 5px;
}

#task-info-button{
    color: white;
    background-color: rgb(104, 104, 104);
}

#task-edit-button{
    background-color: #ffb703;
}

#task-delete-button{
    background-color: red;
    color: white;
}

#add-task {
    font-size: 2rem;
    border: 2px solid black;
    height: 8vmin;
    width: 8vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5vmin;
    right: 6vmin;
}

/* DIALOG */

#project-dialog {
    background-color: rgb(238, 238, 238);
    border: 2px solid black;
    border-radius: 10px;
    padding: 2vmin;
    margin: auto;

    &::backdrop{
        background-color: rgba(0, 0, 0, 0.825);
    }
}

#project-form {
    display: flex;
    flex-direction: column;
    margin-top: 3vmin;
}

#project-form div{
    display: flex;
}

#project-dialog-buttons{
    margin-top: 6vmin;
    justify-content: center;
    gap: 8vmin;
}

#project-form label {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-right: 1vmin;
}

#project-form input {
    font-size: 1.1rem;
    padding: 0.4vmin 1vmin;
}

#project-form button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1vmin 1.5vmin;
}

#project-dialog-add-button{
    background-color: black;
    color: white;
    border-radius: 50px;
    border: 2px solid black;
}

#project-dialog-close-button{
    border: 2px solid black;
    border-radius: 50px;
}

/* TASK DIALOG */

#task-dialog {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    padding: 2vmin;
    margin: auto;

    &::backdrop{
        background-color: rgba(0, 0, 0, 0.825);
    }
}

#task-form {
    margin-top: 4vmin;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    gap: 2.5vmin;
}

#task-date{
    max-width: fit-content
}

table th{
    text-align: start;
    padding-right: 1vmin;
}

th, td{
    padding-bottom: 1vmin;
}

#task-form select {
    font-size: 1.1rem;
    padding: 0.3vmin 1vmin;
}

#task-form input {
    font-size: 1.1rem;
    padding: 0.4vmin 1vmin;
}

#task-dialog-buttons{
    display: flex;
    justify-content: center;
    gap: 8vmin;
    margin-top: 4vmin;
}

#task-form button {
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1vmin 1.5vmin;
}

#task-dialog-add-button{
    background-color: black;
    color: white;
    border: 2px solid black
}

#task-dialog-close-button{
    border: 2px solid black;
}

#toggle-sidebar {
    font-size: 2rem;
    position: absolute;
    right: -25px;
    top: 1vmin;
    display: none;
}

.checked {
    background-color: lightgray;
    text-decoration: line-through;
}

dialog{
    margin: auto;
}

@media (max-width: 900px) {

    #toggle-sidebar {
        font-size: 1rem;
        display: block;
    }

    #side-bar {
        box-sizing: border-box;
        position: fixed;
        min-height: 100vh;
        min-width: 60vw;
        transform: translateX(-60vw);
        transition: transform 300ms;
    }

    #task-buttons-div button{
        width: 4.5vmin;
    }
}