#main-div {
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    flex: 1;
    color: white;
    padding: 5vmin 7vmin;
}

#project-name {
    font-size: clamp(1.6rem, 3vw, 2rem);
}

#task-section {
    flex: 1;
    margin-top: 5vmin;
}

#tasks-heading {
    font-size: clamp(1.2rem, 2.3vw, 1.5rem);
}

#tasks {
    flex: 1;
    margin-top: 1.5vmin;
}

.checked {
    text-decoration: dashed;
}

#tasks:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.736);
}

.task {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.736);
    padding: 1vmin 0vmin;
}

.task :first-child {
    font-size: clamp(1rem, 2vw, 1.1rem);
}

.task-name-date {
    margin-left: 1vmin;
}

.task-name-date :last-child {
    color: rgba(255, 255, 255, 0.673);
    margin-top: 0.2vmin;
    font-size: clamp(0.8rem, 2vw, 1rem);
}

#add-task {
    position: absolute;
    bottom: 5vmin;
    right: 5vmin;
}

/* TASK DIALOG */

#task-dialog {
    background-color: rgb(42, 42, 42);
    margin: auto;
    padding: 3vmin;
    border-radius: 10px;
    border: none;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.648);
    }
}

#task-dialog h1 {
    color: var(--blue);
    margin-bottom: 3vmin;
    font-size: clamp(1.5rem, 2vw, 2rem);
}

#name-input-div {
    display: flex;
    flex-direction: column;
    color: var(--graycolor)
}

#name-input-div input {
    font-size: 1rem;
    padding: 1vmin;
    width: 50vmin;
    border-radius: 5px;
    border: none;
    margin-top: 0.5vmin;

    &:focus {
        outline: none;
    }
}

#date-project-div {
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    justify-content: space-between;
    color: var(--graycolor);
    margin-top: 4vmin;
}

#form-date-input,
#form-project-input {
    display: flex;
    gap: 1vmin;
}

#taskform-buttons-div {
    display: flex;
    justify-content: space-between;
    margin-top: 7vmin;
    padding: 0vmin 6vmin;
}

#task-date-input {
    background-color: #646464;
    border: none;
    color: white;
    padding: 1vmin;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

#projects-dropdown {
    background-color: #646464;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 1vmin 1.5vmin;
    font-size: 1rem;
    cursor: pointer;
}

#form-date-input,
#form-project-input {
    align-items: center;
}

#empty-projects {
    background-color: rgb(59, 59, 59);
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#empty-task {
    margin: auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.delete-task {
    color: red;
    margin-left: auto;
    margin-right: 3vmin;
    border-radius: 50%;
    padding: 0.5vmin;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: red;
    }
}